.App {
  text-align: center;
  
}

.header {
  background-color: coral;
}

main {
  background-color: darkturquoise;
}

.thumbnail {
  width: 55%;
}

.footer {
  background-color: coral;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.App-link {
  color: #09d3ac;
}
