.App {
  text-align: center;
  font-family: 'Calistoga', cursive;
}

/* HEADER */
.header {
  
}

.headshot {
  width: 400px;
  border: 3px solid rgb(249, 151, 31);
  border-radius: 30%;
}

.nav {
  background: url(./Images/subway-tile.jpeg) no-repeat center;
  background-size: cover;
  height: 500px;
  /* position: relative; */
  display: flex;
  flex-flow: column;
  align-items: center;
}

.title {
  color: #f5f0df;
  font-size: 100px;
  margin: 0 auto;
}

.menu {
  
}

.nav-links-left {
  color: #f5f0df;
  font-size: 30px;
  justify-content: flex-start;
  padding: 0 0 0 100px;
  /* margin: 0 0 0 10px; */
}

.nav-links-right {
  color: #f5f0df;
  font-size: 30px;
  justify-content: flex-end;
  padding: 0 100px 0 0;
  /* margin: 0 10px 0 0; */
}

main {
  background-color: #f5f0df;
  padding: 10px 0 15px 0;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-flow: column;
  justify-content: center;

}

.section-title {
  font-size: 30px;
}

.section-content {
  width: 50%;
  margin: 0 auto;
}

.project-links {
  font-size: 30px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.caption {
  margin: -25px 0 10px 0px;
}

.thumbnail {
  width: 35%;
  height: 35%;
  border: solid 3px rgb(249, 151, 31);
  border-radius: 8px;
  
}

.thumbnail:hover {
  box-shadow: 0 12px 16px 0 rgba(109, 84, 84, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: solid 3px black;
}

.footer {
  background: url(./Images/subway-tile.jpeg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo .logo-linkedin .logo-round .logo-email{
  font-size: 50px;
}

.logo-linkedin:hover {
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.logo-git:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 18px;
}
.logo-email:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
}

.icon-section-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.icon {
  font-size: 325%;
  padding: 5px;
}

@media screen and (max-width: 415px) {
  .thumbnail {
    width: 75%;
    height: 25vh;
  }

  main {
    padding: 40px 0 5px 0;
    
  }

  .headshot {
    width: 250px;
  }

  .section-content {
    width: 90%;
    margin: 0 auto;
  }

  .icon-section-content {
    font-size: 40%;
    margin: 0 auto;
  }
}
